{% extends 'base.html.twig' %}


{% block body %}

<h1>Listado de presidentes</h1>
<ul>
    {% for presidente in presidentes %}
        <li>{{ presidente.nombre }} - {{ presidente.fechanac|date("d/m/Y") }} </li>
    {% endfor %}
</ul>

<a href="{{ path('presidente_nuevo') }}">Añadir presidente</a>

{% endblock %}

