{% extends 'base.html.twig' %}

{% block body %}

<h1> Listado de Provincias </h1>
<ul>
	{% for provincia in provincias %}
	<li> 
		{{ provincia.nombre }} - 
		
	</li>
	{% endfor %}
</ul>
<a href="{{ path('provincia_nuevo') }}"> Añadir Provincia </a>

{% endblock %}
