{% extends 'base.html.twig' %}

{% block body %}

<h1> Listado de Regiones </h1>
<ul>
	{% for region in regiones %}
	<li> 
		{{ region.nombre }} - 
		{{ region.idioma }} - 
		{{ region.pais.nombre }} - 
	</li>
	{% endfor %}
</ul>
<a href="{{ path('region_nuevo') }}"> Añadir Región </a>

{% endblock %}
